$primarycolor:#03045E;
$secondarcolor:#0096C7;
$background:#bbc2ec;
$tertiarycolor:#A2A3BB;
$alternatebg:#FBF9FF;
$commoncolor: black;
$titletxt: 7rem;
$secondarytxt: 3rem;
$descriptiontxt: 1.5rem;
$alternateclr: #023E8A;
::selection {
    background: $primarycolor;
  }
  //Scroll Bar
  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primarycolor;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $alternateclr;
  }

  @mixin description {
    font-weight: 400;
    font-size: $descriptiontxt;
  }
  @mixin heading {
    color: $primarycolor;
    text-align: center;
    font-size: $secondarytxt;
    letter-spacing: 0.8rem;
  }
  body{
     background-color: $background;
    margin: 0;
    padding: 0 2rem;
    top: 0;
    font-family: 'Ubuntu',sans-serif;
    color: $primarycolor;
  }

  nav {
    //navbar
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 2rem;
   // display: inline-flex;
    width: 100%;
    background-color: transparent;
    border:none;
    height: 1rem;
    transition: 2s ease-in;
    z-index: 500;
    font-weight: bolder;
    letter-spacing: 5px;
  }
  .nav-list {
    position: fixed;
    right: 5%;
    float: right;
    transition: 1s ease-in-out;
    top: 1.3rem;
    list-style-type: none;
  }
  .nav-list li {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    a {
      display: block;
      text-decoration: none;
      color: $primarycolor;
    }
  }
  .nav-list li:hover {
    font-size: 1.5rem;
    font-weight: bolder;
    transition: 0.3s;
  }
  .active {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  nav.scroll {
    //navbar's div
    transform: 0.5s;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    display: inline-flex;
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    background-color: $secondarcolor;
    border: none;
    height: fit-content;
    z-index: 1000;

    .nav-list {
      position: fixed;
      right: 2%;
      float: right;
      top: 0.5rem;
      transition: 1s ease-in-out;
      list-style-type: none;
    }
  }

  section{
    height: 100vh;
    width: 95%;
}
.welcome-content{
  position: relative;
  top:5rem;
  width: 100%;
  z-index: 400;
  margin-top: 5rem;
  h1{
    font-size: 3rem;
    font-style:inherit;
    text-decoration: underline;
}
  h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  
}
button[type=submit]{
    height: 4rem;
    width: 15rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: $alternatebg;
    text-transform: uppercase;
    background-color: $primarycolor;
    border-radius: 1.5rem;
    transition: 0.7s;
    cursor: pointer;
  }
  button[type=submit]:hover{
    height: 5rem;
    width: 16rem;
    border: 3px solid $primarycolor;
    font-size: 1.5rem;
    //transition: 0.7s;
    font-weight: bolder;
    color: $primarycolor;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
  }
  .features{
      h1{
          letter-spacing: 4px;
          text-decoration: underline; }
  }
  .featurebox{
      flex-basis :auto;
      display: flex;
      justify-content: space-around;
      margin:1rem auto;
      height:200px;
      transition: 0.7s;
      padding: 10px;
      div {

       background: rgba( 255, 255, 255, 0.35 );
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       backdrop-filter: blur( 8.5px );
       border-radius: 10px;
       margin:10px;
       padding:15px;
       align-items: center;
       height:350px;
       width: 50%;
       text-align: justify;
       text-justify: inter-word;
       line-height: 1.5rem;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
      }      
      div:hover{
          background-color: $alternatebg;
         width:51%;
         height: 358px;
         transition:0.7s ease-in-out;
          h2{
            font-style: italic;
            text-decoration: underline;
            justify-content: center;
           text-align: center;
            width: fit-content;   
                     
          }
          p{
              font-weight:bold;
              color:$commoncolor;
              font-size: large;
              }
      }
    }
      .about-content {
        color: $primarycolor;
        h2{
            margin-top: 50rem;
            text-decoration: underline;  
        }
        .about-team{
            display:flex;
            justify-content: flex-end;
            .team{
                position:relative;
            justify-content: flex-end; 
            line-height: 2.5rem; 
            letter-spacing: 1.5px; 
            }
        }
     .sign {
        letter-spacing: 0.2rem;
        position: absolute;
        margin-top:10rem;
              }
  
    }
     
    h1.title{
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        text-decoration: underline;
          }
          a{
              text-decoration: none;
          }
      .form{
        position: absolute;
        top: 75%;
      }

    .home_button{
        button{
            background: $primarycolor;
            color: $alternatebg;
            font-size: 0.9rem;
            width:7rem;
            height:2rem;
            margin-top: 1rem;
            margin-left: -1rem;
            border-radius: 10px;
            border:none;
        }
        button:hover{
            background: transparent;
            width:7.4rem;
            height:2.5rem;
            margin-top: 1rem;
            border-radius: 10px;
            color:$primarycolor;
            font-weight: bold;
            transition:0.7s;
            border:1px solid $commoncolor;
        }
    }



input[type="file"]::file-selector-button
{
  background: $primarycolor;
  height: 2rem;
  border: none;
  color: $alternatebg;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 10px;
  transition: 0.5s;
 // margin-left: 5rem;
  cursor: pointer;
}
input[type="file"]:hover::file-selector-button
{
  background: transparent;
  border: 2px solid $primarycolor;
  color: $primarycolor;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 10px;
}
input[type="file"]{
  font-weight: bolder;
 // margin-left: 5rem;
}

.monthwise{
    p{
        font-size: 1.3rem;
        font-weight: bold;
        text-decoration: underline;
        line-height: 1.5rem;
    }
    button[type='submit']{
       margin-left: 5rem;
        height: 2.1rem;
        width:11rem;
        border:none;
      }
      button[type='submit']:hover{
        height: 2.3rem;
        width: 13rem;
        border:3px solid $primarycolor
      }
}
h2.title{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color:$commoncolor;
    text-decoration: underline;
}
.report-info{
flex-basis: auto;
display: flex;
justify-content: space-between;
padding: 10px;
}
.report_generation{
    button[type=submit]{
    border-radius:5px;
    margin-left:0rem;
    width:7rem;
    border:none;
    }
    button[type=submit]:hover{
        width:7.4rem;
        border: 3px solid $commoncolor;
        background: transparent;
        transition: 0.7s ease-in-out;
        }
}